@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #5279b7;
}

body {
  background-color: rgba(147, 150, 63, .3);
}

h1, h2, h3 {
  font-family: 'Hi Melody', cursive;
}

.avatar {
  border-radius: 50%;
  width: 235px;
  height: 235px;
  background-size: cover;
  margin: auto;
}

.navbar {
  padding: .4rem;
  background-color: rgba(234, 211, 230, 1);
/*  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;*/
  border-bottom-style: groove;
  border-bottom-color: #ef7fdc;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 200%;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

/*.landing img {
  width: 100%;
  height: 100%;
}*/

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 500%;
  color: rgba(234, 211, 230, 1);
  text-shadow: 2px 2px black, -1px -1px black;
}

.carousel-caption h3 {
  font-weight: 500;
  font-size: 200%;
  color: rgba(234, 211, 230, 1);
  text-shadow: 2px 2px black, -1px -1px black;
/*  background-color: rgba(234, 211, 230, .5);
  border-radius: 50%;
  border: 3px groove #ef7fdc;*/
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#ef7fdc' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#ef7fdc' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/*.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}*/

/*.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
  font-family: 'Dancing Script', cursive;
}*/

/*.carousel-caption h3 {
  font-size: 250%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
  font-family: 'Dancing Script', cursive;
}*/

.btn-primary {
  background-color: rgba(234, 211, 230, .5);
  border: 1px solid rgba(234, 211, 230, .5);
  color: #222;
}

.btn-primary:hover {
  background-color: rgba(234, 211, 230, 1);
  border: 1px solid rgba(234, 211, 230, 1);
  color: #222
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
  background-color: #ead3e6;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.fa-fire {
  color: rgba(239, 127, 220, 0.8);
}

.fa-mobile-alt {
  color: rgba(239, 127, 220, 0.8);
}

.fa-birthday-cake {
  color: rgba(239, 127, 220, 0.8);
}

.fa-fire, .fa-birthday-cake, .fa-mobile-alt {
  font-size: 4em;
  margin: 1rem;
}

.fun {
  width: 100%;
  margin-bottom: 2rem;
  background-color: rgba(82, 121, 183, 0.5);
  background-color: rgba(82, 121, 183, 0.5);
  color: #222;
  font-size: 1.25em;
  font-family: 'Hi Melody';
}

.fun:hover {
  background-color: rgba(82, 121, 183, 1);
  color: #ead3e6;
}

.seeMore {
  position: relative;
  width: 200px;
  height: 200px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

#about {
  padding-top: 175px;
  padding-bottom: 50px;
}

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-google-plus-g {
  color: #dd4b39;
}

.fa-instagram {
  color: #517fa8;
}

.fa-youtube {
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: rgba(239, 127, 220, 0.4);
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

footer a {
  color: #d5d5d5;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;  
}

/*.container {
  position: relative;
  max-width: 760px;
  margin: auto;
  border: #ef7fdc groove 3px;
  background: rgba(234, 211, 230, 1);
  margin-top: 80px;
  padding: 3em;
  border-radius: 20px;
}*/

.main-img img, 
.imgs img {
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .navbar {
    padding: .4rem;
  }

  .navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 180%;
  }

  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding-right: .8rem;
  }

  .navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 160%;
  }

    .carousel-caption {
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 425%
  }

  .carousel-caption h3 {
    font-size: 210%;
    font-weight: 400;
    padding-bottom: .2rem;
  }

  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }

  .display-4 {
    font-size: 200%;
  }

  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding-top: .2rem;
    padding-bottom: .4rem;
    padding-left: .2rem;
    padding-right: .8rem;
  }

  .navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 140%;
  }

 .carousel-caption {
    top: 40%;
  }

  .carousel-caption h1 {
    font-size: 250%
  }

  .carousel-caption h3 {
    font-size: 140%;
  } 
  .carousel-caption .btn {
    font-size: 110%;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }

  .social a {
    font-size: 2em;
    padding: .7rem;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/cakePops.jpeg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








